In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas.core.indexes.base import Index
from pandas.core.series import Series
from typing import Any
from colorful_logging import c_print

##### **Read EXCEL**, in this case, **khotbeh.xlsx**

In [2]:
xls: pd.ExcelFile = pd.ExcelFile("/home/zamoosh/Downloads/khotbeh.xlsx")

<br />

Select the sheet you want to analyze. For example, sheet named "31"

In [4]:
df: DataFrame = xls.parse("33", header=None)


<br />

Get rows of this sheet.

Each row is a `Iterable[tuple[Hashable, Series]]`

In [5]:
df

,0,1,2,3,4,5
0,و من خطبة له (عليه السلام) عند خروجه لقتال أهل...,(در سال 36 هجرى به هنگام عزيمت به شهر بصره، جه...,NaN,NaN,قَالَ عَبْدُ اللَّهِ بْنُ عَبَّاسِ دَخَلْتُ عَ...,«ابن عباس مى گويد در سرزمين «ذى قار» ، خدمت ام...
1,x,x,الغایة من ارسال النبی(صلی الله علیه و آله و سلم),آثار بعثت پيامبر اسلام,إِنَّ اللَّهَ بَعَثَ مُحَمَّداً (صلى الله عليه...,همانا خداوند هنگامى محمد (صلّى اللّه عليه و آل...
2,x,x,خصائص الامام علی (علیه السلام) العسکریة,ويژگى هاى نظامى و اخلاقى امام على عليه السّلام,أَمَا وَ اللَّهِ إِنْ كُنْتُ لَفِي سَاقَتِهَا ...,به خدا سوگند من از پيشتازان لشكر اسلام بودم تا...
3,x,x,الشکوی من قریش,شكوه از فتنه گرى قريش,مَا لِي وَ لِقُرَيْشٍ وَ اللَّهِ لَقَدْ قَاتَل...,مرا با قريش چه كار. به خدا سوگند، آن روز كه كا...

In [8]:
df.fillna("")

,0,1,2,3,4,5
0,و من خطبة له (عليه السلام) عند خروجه لقتال أهل...,(در سال 36 هجرى به هنگام عزيمت به شهر بصره، جه...,,,قَالَ عَبْدُ اللَّهِ بْنُ عَبَّاسِ دَخَلْتُ عَ...,«ابن عباس مى گويد در سرزمين «ذى قار» ، خدمت ام...
1,x,x,الغایة من ارسال النبی(صلی الله علیه و آله و سلم),آثار بعثت پيامبر اسلام,إِنَّ اللَّهَ بَعَثَ مُحَمَّداً (صلى الله عليه...,همانا خداوند هنگامى محمد (صلّى اللّه عليه و آل...
2,x,x,خصائص الامام علی (علیه السلام) العسکریة,ويژگى هاى نظامى و اخلاقى امام على عليه السّلام,أَمَا وَ اللَّهِ إِنْ كُنْتُ لَفِي سَاقَتِهَا ...,به خدا سوگند من از پيشتازان لشكر اسلام بودم تا...
3,x,x,الشکوی من قریش,شكوه از فتنه گرى قريش,مَا لِي وَ لِقُرَيْشٍ وَ اللَّهِ لَقَدْ قَاتَل...,مرا با قريش چه كار. به خدا سوگند، آن روز كه كا...

In [5]:
def only_series(item):
    if type(item) == Series:
        return True
    else:
        return False


for row in df.iterrows():
    

    ser_list: list[Series] = list(filter(only_series, row))

    for ser in ser_list:

        if len(ser) // 2 <= pd.isnull(ser).sum():
            continue

        for col in range(len(ser)):
            print(col, len(ser[col]))

0 98
1 90
2 19
3 21
4 312
5 299
6 91
7 115

In [ ]:
row = list(df.iterrows())


print(row[0])
series: Series = row[0][1]

print("\n")
print("null cells: ", pd.isnull(row[1][1]).sum())
print("max col size", len(row[1][1]))

In [5]:
row = list(df.iterrows())

new_df: Series = row[1][1]
pd.isnull(new_df).sum()

7