In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas.core.indexes.base import Index
from pandas.core.series import Series
from typing import Any
from colorful_logging import c_print

##### **Read EXCEL**, in this case, **khotbeh.xlsx**

In [2]:
# xls: pd.ExcelFile = pd.ExcelFile("/home/zamoosh/Downloads/khotbeh.xlsx")
xls: pd.ExcelFile = pd.ExcelFile("/home/zamoosh/Downloads/hekmat.xlsx")

<br />

Select the sheet you want to analyze. For example, sheet named "31"

In [3]:
df: DataFrame = xls.parse("209", header=None)


<br />

Get rows of this sheet.

Each row is a `Iterable[tuple[Hashable, Series]]`

In [4]:
df

,0,1,2,3,4,5
0,وَ قَالَ (عليه السلام):,و درود خدا بر او، فرمود:,الإخبار بظهور المهدي(عج),NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,وَ قَالَ (عليه السلام):,و درود خدا بر او، فرمود:,الإخبار بظهور المهدي (عج),خبر از ظهور حضرت مهدى (عليه السّلام),لَتَعْطِفَنَّ الدُّنْيَا عَلَيْنَا بَعْدَ شِمَ...,دنيا پس از سركشى، به ما روى مى كند، چونان شتر ...

In [5]:
df = df.fillna("")
df = df.replace(to_replace=r"(\.|x|X|\n)", value="", regex=True)
df

,0,1,2,3,4,5
0,وَ قَالَ (عليه السلام):,و درود خدا بر او، فرمود:,الإخبار بظهور المهدي(عج),,,
1,,,,,,
2,,,,,,
3,وَ قَالَ (عليه السلام):,و درود خدا بر او، فرمود:,الإخبار بظهور المهدي (عج),خبر از ظهور حضرت مهدى (عليه السّلام),لَتَعْطِفَنَّ الدُّنْيَا عَلَيْنَا بَعْدَ شِمَ...,دنيا پس از سركشى، به ما روى مى كند، چونان شتر ...

In [5]:
def only_series(item):
    if type(item) == Series:
        return True
    else:
        return False


for row in df.iterrows():
    

    ser_list: list[Series] = list(filter(only_series, row))

    for ser in ser_list:

        if len(ser) // 2 <= pd.isnull(ser).sum():
            continue

        for col in range(len(ser)):
            print(col, len(ser[col]))

0 98
1 90
2 19
3 21
4 312
5 299
6 91
7 115

In [ ]:
row = list(df.iterrows())


print(row[0])
series: Series = row[0][1]

print("\n")
print("null cells: ", pd.isnull(row[1][1]).sum())
print("max col size", len(row[1][1]))

In [5]:
row = list(df.iterrows())

new_df: Series = row[1][1]
pd.isnull(new_df).sum()

7