In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from pandas.core.indexes.base import Index
from pandas.core.series import Series
from colorful_logging import c_print

##### **Read EXCEL**, in this case, **khotbeh.xlsx**

In [2]:
xls: pd.ExcelFile = pd.ExcelFile("/home/zamoosh/Downloads/khotbeh.xlsx")

<br />

Select the sheet you want to analyze. For example, sheet named "31"

In [12]:
df: DataFrame = xls.parse("31", header=None)


<br />

Get rows of this sheet.

Each row is a `Iterable[tuple[Hashable, Series]]`

In [24]:
for row in df.iterrows():
    for j in row:
        print(len(j))

TypeError: object of type 'int' has no len()

In [ ]:
row = list(df.iterrows())


print(row[0])
series: Series = row[0][1]

print("\n")
print("null cells: ", pd.isnull(row[1][1]).sum())
print("max col size", len(row[1][1]))

In [5]:
row = list(df.iterrows())

new_df: Series = row[1][1]
pd.isnull(new_df).sum()

7

In [113]:
for i in row[1]:
    print(type(i))

<class 'int'>
<class 'pandas.core.series.Series'>

In [124]:
rows = list(df.itertuples())
rows[1]

Pandas(Index=1, _1=nan, _2=nan, _3=nan, _4=nan, _5='\n', _6=nan, _7=nan, _8=nan)

In [47]:
np.where(pd.isnull(df))

(array([1, 1, 1, 1, 1, 1, 1]), array([0, 1, 2, 3, 5, 6, 7]))